## How TDs and Senators plan to vote on Repealing the 8th amendment.
* Author: [@F_Delahunty](http://www.fionndelahunty.me) 
* Date: 20/01/2018
* Data collected on the 20/01/2018 from the [Irish Times Referendum Tracker](https://www.irishtimes.com/news/politics/referendum-tracker)

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import rc
import seaborn as sns
import folium
import json
from pprint import pprint

In [55]:
data = pd.read_csv("Irish_Times.csv")
data.head()

,Constituency,Name,Party,Vote,Voter type,Politician_Comment
0,Dublin South Central,Aengus Ó Snodaigh,SF,Yes,TD,NaN
1,Industrial and Commercial Panel,Aidan Davitt,FF,No,Senator,NaN
2,Cork North West,Aindrias Moynihan,FF,No,TD,NaN
3,Dublin Fingal,Alan Farrell,FG,Yes,TD,NaN
4,Tipperary,Alan Kelly,LAB,Yes,TD,NaN

In [39]:
Constituency = data["Constituency"]
Vote_Yes = []
Vote_No =[]
Vote_Und = []
Voter_Group = []

data_newer = [Constituency,Vote_Yes,Vote_No]

for i in data["Vote"]:
    if i == "Yes":
        Vote_Yes.append(1)
        Vote_No.append(0)
        Vote_Und.append(0)
    elif i == "No":
        Vote_Yes.append(0)
        Vote_No.append(1)
        Vote_Und.append(0)
    elif i =="Undeclared":
        Vote_Yes.append(0)
        Vote_No.append(0)
        Vote_Und.append(1)

for i in data["Voter type"]:
    if i == "TD":
        Voter_Group.append("Dáil")
    else: 
        Voter_Group.append("Seanad")
        
data_new = pd.DataFrame(Constituency)   
data_new["Yes"] = Vote_Yes
data_new["No"] = Vote_No
data_new["Undecided"] = Vote_Und
data_new["Party"] = data["Party"]
data_new["Voter type"] = data["Voter type"]
data_new["Voter_Group"] = Voter_Group

In [40]:
print ("Total Dail and Seanad votes (As of 20/01/2018)")
print("Yes: ", sum(Vote_Yes) )
print("No:", sum(Vote_No) )
print("Undeclared:", sum(Vote_Und))

Total Dail and Seanad votes (As of 20/01/2018)
Yes:  107
No: 45
Undeclared: 65

In [41]:
data_new.groupby( [ "Voter_Group"] ).sum()

             Yes  No  Undecided
Voter_Group
Dáil          78  35         45
Seanad        29  10         20

In [42]:
data_new.groupby( [ "Party"] ).sum()

       Yes  No  Undecided
Party
CC       0   0          1
FF      11  30         17
FG      25   6         38
GRN      3   0          0
IND     20   8          9
LAB     11   0          0
PBP      3   0          0
SD       2   0          0
SF      28   1          0
SOL      3   0          0
WUA      1   0          0

In [57]:
data_new.groupby( [ "Constituency","Voter_Group"] ).sum()

                                             Yes  No  Undecided
Constituency                    Voter_Group
Administrative Panel            Seanad         3   1          3
Agricultural Panel              Seanad         3   2          5
Carlow–Kilkenny                 Dáil           1   2          2
Cavan-Monaghan                  Dáil           1   2          1
Clare                           Dáil           1   0          3
Cork East                       Dáil           2   1          1
Cork North Central              Dáil           3   0          1
Cork North West                 Dáil           0   1          2
Cork South Central              Dáil           2   0          2
Cork South West                 Dáil           0   2          1
Cultural and Educational Panel  Seanad         3   0          2
Donegal                         Dáil           2   1          2
Dublin Bay North                Dáil           3   1          1
Dublin Bay South                Dáil           4   0          0
Dublin Central                  Dáil           3   0          0
Dublin Fingal                   Dáil           4   0          1
Dublin Mid West                 Dáil           3   0          1
Dublin North West               Dáil           3   0          0
Dublin Rathdown                 Dáil           3   0          0
Dublin South Central            Dáil           3   0          1
Dublin South West               Dáil           4   0          1
Dublin West                     Dáil           2   1          1
Dún Laoghaire                   Dáil           3   0          1
Galway East                     Dáil           0   2          1
Galway West                     Dáil           3   1          1
Industrial and Commercial Panel Seanad         5   2          2
Kerry                           Dáil           1   3          1
Kildare North                   Dáil           2   2          0
Kildare South                   Dáil           1   0          2
Labour Panel                    Seanad         7   1          3
Laois                           Dáil           2   0          1
Limerick City                   Dáil           2   1          1
Limerick County                 Dáil           1   0          2
Longford-Westmeath              Dáil           1   0          3
Louth                           Dáil           3   2          0
Mayo                            Dáil           1   1          2
Meath East                      Dáil           2   1          0
Meath West                      Dáil           0   2          1
National University of Ireland  Seanad         2   1          0
Nominated by the Taoiseach      Seanad         3   3          5
Offaly                          Dáil           2   0          1
Roscommon-Galway                Dáil           0   2          1
Sligo-Leitrim                   Dáil           1   1          2
Tipperary                       Dáil           2   2          1
University of Dublin            Seanad         3   0          0
Waterford                       Dáil           2   1          1
Wexford                         Dáil           2   1          2
Wicklow                         Dáil           3   2          0